
*{
    marker-start: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menubar{
    background-color: white;
    text-align: center;
    position: sticky;
    top:0;
    z-index: 20;
}
.menubar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
    list-style: none;
}
.menubar ul li{
    width: 130px;
    margin: 20px;
    padding: 10px;
  
}
.menubar ul li a{
    color:black;
    text-decoration: none;;
}
/* .menubar ul li :hover{
    text-decoration: underline;
    color:blue;
    border-radius: 5px;
} */
.one{
    display: none;
}

.menubar ul li:hover .one{
display: block;
position: absolute;
background-color: #313443;
border-radius: 5px;
margin-top: 10px;
margin-left: 5px;
color: white;
}

.one ul li a{
    color: white;
}
.menubar ul img{
width: 200%;
margin-left: 40px;
margin-bottom: 10px;
}
.margin{
margin-left: 100px;
}
#box{
height: 80px;
width: 150px;
/* border: 1px solid red; */
margin-top: 30px;

}
#box>a{
text-decoration: none;
margin-top: 20px;
}
#search{
display: flex;
justify-content: space-evenly;
height: 80px;
gap:20px;
width: 500px;
/* border: 1px solid blue; */
margin-top: 20px;
margin-right: 40px;
}
#search> a{
margin-top:10px;
}
#mouse{
height: 30px;
width: 100px;
margin-top: 11px;
border-radius: 5px;
}
.id{
margin-top: 10px;
font-size: 30px;
}
#last{
color: blue;
}
#manoj{

height: 350px;
width: 30%;
border: 1px solid #4296cb;
text-align: start;
margin-right: 500px;

background-color: #333;
}
#manoj>p,h3{
color:white
}
#mob{

height: 30px;
width: 50%;
   margin-left: 10px;
border: 1px solid green;
text-align: center;
font-size: 20px;
border-radius: 5px;
background-color: #4296cb;
margin-top: 50px;
}
#mob>a{
text-decoration: none;
color: white;
margin-top: -20px;
}
#phon{
height: 30px;
width: 50%;
margin-left: 10px;
margin-top: 50px;
border: 1px solid  #4296cb;
text-align: center;
font-size: 20px;
border-radius: 5px; 
}
#phon>a{
text-decoration: none;
color:white

}
#phon:hover{
background-color: #4296cb;
}
#manoj{
display: none;
}
.menubar ul div :hover #manoj{
display: block;
position: absolute;
margin-right: 50px;
margin-top: 30px;
padding: 20px;

}
#pr{
    margin-left: 40px;
}
#co{
margin-right: 40px;
}

.first{
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    height: 550px;
    width: 100%;
    background-color:#3d97ce ;
}
.first>div{
   
  
    margin: auto;
    font-size: 20px;
    border: 0px solid red;
    height: 100%;
    width: 40%;
  
}

.first>div>a>button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 20px;
    align-items: flex-start;
}
.first>div>a>button:hover{
    cursor: pointer;
    background-color: rgb(27, 26, 26);
}
#para{
    text-align: left;
   
    margin-left: 4px;
}
#para,#head{
    color: white;
 

}
.second{
    
    height: 500px;
    width: 98%;
  margin: auto;
  margin-top: 10px;
    border: 0px solid green;
    text-align: center;
    background-color: #f9e7f6;
    padding-top: 20px;
}
.second>a>button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: black;
    color:white;
}
.second>h3{
    color:black
}
.second>a>button:hover{
    cursor: pointer;
    background-color: rgb(27, 26, 26);
}

.first>div>img{
    width: 100%;
}
.first>div>h1
{
    margin-top:130px;
    margin-bottom: 0px;
}

.third{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    width:98%;
    margin: auto;
    margin-top: 10px;
    border: 0px solid red;
   text-align: center;
}
.third>div{
    border: 0px solid red
}
.third>div>img{
    width: 100%;
}
.third>div>a>p{
    color:blue;
    font-size:20px
}
.third>div>a{
    text-decoration: none;
}
.third>div:nth-child(1){
    background-color: #f0f4f6;
    
}
.third>div:nth-child(2){
    background-color: #f9fcfd;
}
.third>div:nth-child(3){
    background-color:#000000;
    color: white;
}
.third>div:nth-child(4){
    background-color: #d8d9da;
}
.third>div>h1{
    font-size: 30px;
}
.four{
    height:auto;
    width: 98%;
    margin: auto;
    margin-top: 5px;
    border: 0px solid red;
    text-align: center;
    position: relative;
}
.four>img{
    max-width: 100%;
 
  
}
#text{
    position: absolute;
   top:40px;
   margin-left: 450px;
    color: black;
  
}

#five{
    height: auto;
    width: 98%;
    border: 0px solid red;
    margin: auto;
}
.five{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;   
    margin: auto;
  
    border: 0px solid blueviolet;
    background-color: #fff;
    width: 90%;

}
.five>div>img{
    width: 100%;
    
}
#grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
    margin-top:10px;
    width: 90%;
    margin: auto;
}
#five>h1,p{

    margin-left: 5%
}
.five>div>h3,p{
    margin-left: 5%;
    color:black
}
.five>a>h3{
    color:blue;
    
}
.five>a{
    text-decoration: none;
}
.five>div>a{
    text-decoration: none;
}
.five>div:hover{
    cursor: pointer;
    border: 1px solid blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.five>a:hover{
    text-decoration: underline;
}

.p{
    color:rgb(52, 107, 228)
}
.six{
    display: flex;
    height: 400px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: #212432;
}
.six>div:nth-child(1){
    height: 300px;
    width: 30%;
   

}
.six>div:nth-child(2){
    height: 700px;
    width: 70%;
    margin-top: 60px;
   
   
}

.six>div>img{
    width: 100%;
}
.six>div>a>img{
    width: 20%;
    margin:60px 40px;
}
#six>div:nth-child(2){
    display: flex;
   
}
#first>ul>li{
list-style-type: none;
font-size:15px;
color: white;
height: 40px;


}

.color{
    color: white;
}
#first>ul>li>a{
    color:grey
}


#two>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    
    }
#two>ul>li>a{
    color:grey
}
#three>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    
    }
#four>ul>li>a{
    color:white
}
#four>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    
    }
#three>ul>li>a{
    color:grey
}
#buttom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    height: 100%;
 
    
}
#buttom>div>a>h2{
    color: white;
    font-size: 15px;
 
}
#button>div{
    height: 100%;
}
#button>div>a>h2,p{
    margin-top: 5px;
    font-size:15px;
    color: grey;
}
#button>div>a>h2{
    color: white;
   
}
#bot{
    display: flex;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    margin: auto;

    background-color:#212432 ;
    box-shadow: rgb(251, 253, 255) 0px 1px 2px 0px, rgba(246, 247, 248, 0.15) 0px 2px 6px 2px;
    
}
#bot>p{
    margin-top: 0px;
   
}
#bot>div:nth-child(1){
    display: flex;
    align-items: center;
    width: 50%;
}
#bot>div:nth-child(2){

    width: 50%;
    color: white;
       margin-left: 30px;
    text-align: right;
    padding-right: 60px;
}
#bot>div:nth-child(2)>a>i{
  
    color: white;
    margin-top: 40px;
 margin-right: 10px;
}
#bot>div:nth-child(1)>a{
    color:white;
    margin-left: 20px;
    margin-top: -10px;
    text-decoration: none;
}
#first>ul>li>a{
    text-decoration: none
}

#second>ul>li>a{
    text-decoration: none
}
#three>ul>li>a{
    text-decoration: none
}
#four>ul>li>a{
    text-decoration: none
}
#two>ul>li>a{
    text-decoration: none
}