#sign{
    height: 600px;
    width: 50%;
    margin: auto;
    /* border: 1px solid red; */
}
#sign>h1{
text-align: center;
}
#face{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: auto;
     
    /* border: 1px solid blue; */
}


#main{
    height: 50px;
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    gap:30px
}
#fir{
    height: 50px;
    width: 50%;
    display: flex;
    
    justify-content: space-evenly;
    background-color: #3f66b6;
    border-radius: 5px;
}
#sec{
    height: 50px;
    width: 50%;
    display: flex;
    background-color: #db4a3c;
    border-radius: 5px;
 
   
    justify-content: space-evenly;
}

#sec>h2{
    margin-top: 12px;
    color: white;
}
#fir>#one{
    margin-bottom: 40px;
    margin-left: 70px;
}

#g{
    margin-top: 15px;
    font-size: 20px;
}
#fir>h2{
    margin-top: 12px;
    color: white;
}
#f{
    margin-top: 15px;
    font-size: 20px;
}
p{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
#dom{
    height: 300px;
    width: 50%;
    margin: auto;
}
#low{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}
#high{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}
#dom>a>button{
    height: 30px;
    width: 102%;
    background-color: #4296cb;
    color:white;
    border-radius: 5px;
    border: 0px;

}
#dom>a>button:hover{
    cursor: pointer;
}
#for{
 
    font-size: 20px;
    margin-left: 60px;
    margin-top: 20px;
    
   
}
#for>a{
    text-decoration: none;
}
#for>a:hover{
    text-decoration: underline;
}
#para{
   margin-top: 70px;
    margin-right: 20px;
}
#para>a{
    text-decoration: none;
}
#para>a:hover{
    text-decoration: underline;
}
.six{
   
    display: flex;
    height: 400px;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    background-color: #212432;
    }
    .six>div:nth-child(1){
    height: 300px;
    width: 30%;
    
    
    }
    .six>div:nth-child(2){
    height: 700px;
    width: 70%;
    margin-top: 60px;
    
    
    }
    
    .six>div>img{
    width: 100%;
    }
    .six>div>a>img{
    width: 20%;
    margin:60px 40px;
    /* border: 1px solid blue; */
    }
    #six>div:nth-child(2){
    display: flex;
    
    }
    #first>ul{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 200px;
    
    }
    #first>ul>li>a{
    text-decoration: none;

    }
    #first>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    
    
    }
    
    .color{
    color: white;
    }
    #first>ul>li>a{
    color:grey;
    /* border:1px solid green; */
    }
    
    
    #two>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    }
    #two>ul>li>a{
        text-decoration: none;
    }
    #two>ul>li>a{
    color:grey
    }
    
    #three>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    }
    #three>ul>li>a{
        text-decoration: none;
    }
    #four>ul>li>a{
    color:white
    }
    #four>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    }
    #four>ul>li>a{
        text-decoration: none;
    }
    #three>ul>li>a{
    color:grey
    }
    #buttom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    height: 100%;
    
    
    }
    #buttom>div>a>h2{
    color: white;
    font-size: 15px;
    
    }
    #button>div{
    height: 100%;
    }
    #button>div>a>h2,p{
    margin-top: 5px;
    font-size:15px;
    color: grey;
    }
    #button>div>a>h2{
    color: white;
    
    }
    #bot{
    display: flex;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    margin: auto;
    
    background-color:#212432 ;
    box-shadow: rgb(251, 253, 255) 0px 1px 2px 0px, rgba(246, 247, 248, 0.15) 0px 2px 6px 2px;
    
    }
    #bot>p{
    margin-top: 0px;
    
    }
    #bot>div>p{
    margin-left: 50px;
    }
    #bot>div:nth-child(1){
    display: flex;
    align-items: center;
    width: 50%;
    }
    #bot>div:nth-child(2){
    
    width: 50%;
    color: white;
    margin-left: 30px;
    text-align: right;
    padding-right: 60px;
    }
    #bot>div:nth-child(2)>a>i{
    
    color: white;
    margin-top: 40px;
    margin-right: 10px;
    }
    #bot>div:nth-child(1)>a{
    color:white;
    margin-left: 20px;
    margin-top: -10px;
    }