

#cont{
    height: auto;
    margin: auto;
    width: 100%;
  
    background-color: #fff;
    position: relative;
}
#cont>div>img{
  max-width: 100%;
}
#text{
    position: absolute;
    margin-top: 170px;
    margin-left: 80px;
  
    color: black;
    position:absolute

}
#text>h3{
    color: white;
    font-size: 40px;
}
#para{
    color:blue;
}
#sort{
    color: white;
    margin-top: 0px;
}
.one{
    height:600px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    background-color: #e3ebee;
 
   
}
#on{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 60px;
    width: 90%;
    

}
#on>p{
    margin-top: 30px;
    font-size: 20px;
    margin-right: -50px;
}
#on>p>a{
    text-decoration: none;
}
#on>div>h1{
margin-left:80px ;
}
#free{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    justify-content: space-evenly;
    height: auto;
    width: 88%;
 
    margin: auto;
}
#free>div>a>img{
    width: 100%;
}
#free>div>h4,p{
    margin-top: 0px;
    margin-left: 20px;
}
#free>div{
    background-color: white;
 
}
#free>div>h4{
    line-height: 1.2em;
    font-weight: 400;
}
.black{
    color:black;
    text-decoration: none;
}
.med{
    color:black;
    text-decoration: none;
}
.down{
    color:blue;
    text-decoration: none;
}
.logo{
    height: 20px;
    width: 40px;
    border: 1px solid blue;
    background: linear-gradient(to bottom right,#3a8d10 0%,#bfeb00 100%);
    background-image: linear-gradient(to right bottom, rgb(58, 141, 16) 0%, rgb(191, 235, 0) 100%);
    border: 1px solid #fff;;
    border-radius: 10px;
    margin: 0 0.25rem;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 15px;
}

.five{
    height: 600px;
    width: 100%;
    margin: auto;
 
    background-color: #e3ebee;;
    
    margin-top: 120px;

}
#food{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 60px;
    width: 90%;
    

}
#food>p{
    margin-top: 30px;
    font-size: 20px;
}
#food>p>a{
    text-decoration: none;
}
#food>div>h1{
margin-left:80px ;
}
.two{
    height:600px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    /* border: 1px solid red; */
    background-color: #e3ebee;
    margin-top: 100px;
}

.three{
    height:650px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    /* border: 1px solid red; */
    background-color: #f0f4f6;;
    margin-bottom: 120px;
    margin-top: 100px;
}
.four{
    height:650px;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    /* border: 1px solid red; */
    background-color: #f0f4f6;
  margin-bottom: 200px;
  margin-top: 120px;
      
   
}

#to{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 60px;
    width: 90%;


}
#to>p{
    margin-top: 30px;
    font-size: 20px;
    margin-right: -50px;
}
#to>p>a{
    text-decoration: none;
}
#to>div>h1{
margin-left:80px ;
}
#love{
    display: flex;
    justify-content: space-between;
    height: 200px;
   /* border: 1px solid red; */
    width: 200px;
}
#love>div:nth-child(1){
    width: 100px;
    /* border: 1px solid red; */

}
#love>div:nth-child(2){
border:1px solid blue;
width: 100px;

}
#love>div:nth-child(2)>#bb{
    width:400px;
}
.six{
   
    display: flex;
    height: 400px;
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    background-color: #212432;
    margin-top: 100px;
    }
    .six>div:nth-child(1){
    height: 300px;
    width: 30%;
    
    
    }
    .six>div:nth-child(2){
    height: 700px;
    width: 70%;
    margin-top: 60px;
    
    
    }
    
    .six>div>img{
    width: 100%;
    }
    .six>div>a>img{
    width: 20%;
    margin:60px 40px;
    /* border: 1px solid blue; */
    }
    #six>div:nth-child(2){
    display: flex;
    
    }
    #first>ul{
    /* border: 1px solid blue; */
    margin-top: 20px;
    width: 200px;
    
    }
    #first>ul>li>a{
    text-decoration: none;

    }
    #first>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    
    
    }
    
    .color{
    color: white;
    }
    #first>ul>li>a{
    color:grey;
    /* border:1px solid green; */
    }
    
    
    #two>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    
    }
    #two>ul>li>a{
        text-decoration: none;
    }
    #two>ul>li>a{
    color:grey
    }
    
    #three>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    }
    #three>ul>li>a{
        text-decoration: none;
    }
    #four>ul>li>a{
    color:white
    }
    #four>ul>li{
    list-style-type: none;
    font-size:15px;
    color: white;
    height: 40px;
    }
    #four>ul>li>a{
        text-decoration: none;
    }
    #three>ul>li>a{
    color:grey
    }
    #buttom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    height: 100%;
    
    
    }
    #buttom>div>a>h2{
    color: white;
    font-size: 15px;
    
    }
    #button>div{
    height: 100%;
    }
    #button>div>a>h2,p{
    margin-top: 5px;
    font-size:15px;
    color: grey;
    }
    #button>div>a>h2{
    color: white;
    
    }
    #bot{
    display: flex;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    margin: auto;
    
    background-color:#212432 ;
    box-shadow: rgb(251, 253, 255) 0px 1px 2px 0px, rgba(246, 247, 248, 0.15) 0px 2px 6px 2px;
    
    }
    #bot>p{
    margin-top: 0px;
    
    }
    #bot>div>p{
    margin-left: 50px;
    }
    #bot>div:nth-child(1){
    display: flex;
    align-items: center;
    width: 50%;
    }
    #bot>div:nth-child(2){
    
    width: 50%;
    color: white;
    margin-left: 30px;
    text-align: right;
    padding-right: 60px;
    }
    #bot>div:nth-child(2)>a>i{
    
    color: white;
    margin-top: 40px;
    margin-right: 10px;
    }
    #bot>div:nth-child(1)>a{
    color:white;
    margin-left: 20px;
    margin-top: -10px;
    text-decoration: none
    }